@font-face {
   font-family: 'Neue Machina';
   src: url(fonts/NeueMachina-Ultrabold.woff2);
   font-weight: bold;
}

@font-face {
   font-family: 'Neue Machina';
   src: url(fonts/NeueMachina-Regular.woff2);
   font-weight: 400;
}
* {
padding: 0;
margin: 0;
font-family: 'Neue Machina';
font-size: 18px;
}


header {
   margin: 0 auto;
   background-color: #E8E2DA;
   max-width: 1250px;
   
}
.container {
   max-width: 950px;
   margin: 0 auto;
}

.nav {
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   background-color: #000000;
}



a {
   text-decoration: none;
   color: white;
}

.nav .nav_link {
   list-style-type: none;
   padding: 15px 40px;
}

.main {
   margin: 0 auto;
   border-left: 2px solid #000;
   border-right: 2px solid #000;
}

.main .main_cv {
   display: flex;
   justify-content: space-between;
}

.main .main_img{
   width: 250px;
}


.main .main_about  {
   font-weight: bold;
   font-size: 25px;
}

h1 {
   margin: 0 auto;
   font-size:45px;
   margin-top: 100px;
}

h2 {
   margin: 0 auto;
   font-size: 25px;
}



.about {
   padding: 30px 0 20px 0;
   border: 2px solid #d98616;
}

.about .container {
   max-width: 900px;
}
.about .about_me {
   margin-top: 15px;
   font-weight: 400;
   font-size: 19px;
}

.about .about_blocks {
   display: flex;
   flex-wrap: wrap;
   font-size: 25px;
}

.about .about_block {
   display: block;
   margin: 0 auto;
}

.about .about_skills {
   margin-top: 15px;
   font-weight: 400;
   font-size: 19px;
}

.about .about_contacts {
   margin-top: 15px;
   font-weight: 400;
   font-size: 19px;
}

.about .about_contacts li {
   list-style-type: none;
}

.about .about_contacts a {
   color:#d98616;
}



footer {
   margin: 0 auto;
   max-width: 1250px;
}

.footer {
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #d98616;
}

.footer_logo {
   display: block;
   width: 100px;
   padding-right: 20px;
}

.footer_github a {
   padding-left: 20px;
   text-transform: uppercase;
   color: #000;
}